[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/alphafork/spdlog.git
[submodule "3rdparty/eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/range-v3"]
	path = 3rdparty/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "3rdparty/apriltag"]
	path = 3rdparty/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "3rdparty/ethzasl_apriltag2"]
	path = 3rdparty/ethzasl_apriltag2
	url = https://github.com/ethz-asl/ethzasl_apriltag2.git